            <div class="projectCards">
                <div class="projectCards_title">
                    <h2>Proyecto Amazonia</h2>
                </div>
                <div class="reporteContainer">
                    <h5>Reporte</h5>
                <canvas baseChart
                        height="115"
                        width="115"
                        [datasets]="doughnutChartDatasets"
                        [options]="doughnutChartOptions"
                        [legend]="false"
                        [type]="'doughnut'">
                </canvas>
                </div>
                <div class="stateContainer">
                    <p>Estado</p>
                    <p>Activo</p>
                </div>

                <i class="fa-solid fa-ellipsis-vertical"></i>
            </div>
