<div class="projectInfoBarContainer">

      <div class="mainContainer"> 
            <div class="routeContainer">
                <a href="">Proyectos</a><i class="fa fa-solid fa-angle-right"></i>
                <a href=""> Amazonia</a>
            </div>
            <div class="routeName">
                <p>Amazonia</p>
            </div>
               <div class="generalTableroContainer">
                <a>General</a>
                <a>Tablero</a>
            </div>
        </div>

        <div>

         

</div>