.mainContainer{
    width: 100%;
    padding-left: 50px;
}

.routeContainer{
    align-items: center;
    height: 5%;
    padding-top: 15px;
    color: #585858;
    font-size: 15px
}

.routeContainer a{
    text-decoration: none;
    margin-right: 5px;
}

.routeName p{
    font-size: 27px;
    font-weight: 600;
    padding-top: 30px;
    padding-bottom: 15px;
}

.tasks-container {
    list-style-type: none;
    padding: 0;
  }

  .tabContainer {
    display: flex;
    font-size:larger;
    gap: 20px;
  }


.activo {
    border-bottom: 3px solid #782CE8;
    color: #782CE8;
  }
  
  .inactivo {
      color: #000; 
  }

.bodyContainerTabs{
    padding-top: 20px;
    width: 95%;
    height: 100hv;
}
