        <div class="projectInfoBarContainer">
            
        
          <div class="projectInfoBarContainer_Icons"> 
                <div class="singleIconContainer">
                    <img src="../../../../assets/img/cantidad.png" alt="">
                </div>
                <div class="projectInfoBarContainer_description">
                    <p>Cantidad de proyectos</p>
                    <h2>14</h2>
                </div>
            </div>
            <div class="projectInfoBarContainer_Icons"> 
                <div class="singleIconContainer">
                    <img src="../../../../assets/img/completados.png" alt="">
                </div>
                <div class="projectInfoBarContainer_description">
                    <p>Completados</p>
                    <h2>8</h2>
                </div>
            </div>
            <div class="projectInfoBarContainer_Icons"> 
                <div class="singleIconContainer">
                    <img src="../../../../assets/img/activos.png" alt="">
                </div>
                <div class="projectInfoBarContainer_description">
                    <p>Activos</p>
                    <h2>6</h2>
                </div>
            </div>

            </div>