        <div class="projectInfoBarContainer">
            

                  <div class="projectInfoBarContainer_Icons"> 
                        <div class="singleIconContainer">
                            <img src="../../../../assets/img/cantidad.png" alt="">
                        </div>
                        <div class="projectInfoBarContainer_description">
                            <p>Cantidad de proyectos</p>
                            <h2>{{listProject.length}}</h2>
                        </div>
                    </div>
                    <div class="projectInfoBarContainer_Icons"> 
                        <div class="singleIconContainer">
                            <img src="../../../../assets/img/completados.png" alt="">
                        </div>
                        <div class="projectInfoBarContainer_description">
                            <p>Completados</p>
                        <h2>{{ projectCompleted }}</h2>
                        </div>
                    </div>
                    <div class="projectInfoBarContainer_Icons"> 
                        <div class="singleIconContainer">
                            <img src="../../../../assets/img/activos.png" alt="">
                        </div>
                        <div class="projectInfoBarContainer_description">
                            <p>Activos</p>
                            <h2>{{projectActives}}</h2>
                        </div>
                    </div>

   
   
       <div class="projectInfoBarContainer_AddProject" (click)="createProject()" *ngIf="userLogged?.role == 'admin'" >
                <h4>Add Project</h4>
                <div class="addProjectIcon">
                    <i class="fa fa-regular fa-plus"></i>
                </div>
        </div>
            </div>

<div  class="searchContainer">
           <form [formGroup]="searchForm" style="
    display: flex;
    justify-content: end;
    margin-right: 5rem;">
                <i class="fa fa-solid fa-magnifying-glass"></i>
                <input type="text" placeholder="Buscar" formControlName="searchTerm" style=" width: 50%; padding: 0.5rem; border-radius: 20px; border: 1px solid #000; font-size: larger;">
        </form>

</div>

            <div class="bodyProjects">

             <div *ngFor="let project of listProject" (click)="navigateToProject(project.id)">
                <app-project-item [project]="project" [status]="status[project.status]"></app-project-item>
            </div>

            </div>


            
