<div class="projectInfoBarContainer" style="display: block;">
  <main>
    <section class="container_main_home">
      <section class="container-create_project">
        <h2>Create Project</h2>
        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
          
            
            
            <div class="dv-home_name">
              <label for="home_name_id">Name</label>
              <input type="text" name="name" id="home_name_id" formControlName="name">
            </div>

            
            
            <div class="dv-home_name">
              <label for="home_description_id">Description</label>
              <textarea name="description" id="home_description_id" cols="30" rows="10" formControlName="description"></textarea>
            </div>



       <div class="mb-3">
            <label for="role" class="col-form-label">Users:</label>
                <ng-select [items]="users" 
                    bindLabel="fullName" 
                bindValue="id" 
                [multiple]="true"
                [formControlName]="'selectedUsers'">
                </ng-select>
          </div>


            <button class="btn-home_save_event" type="submit">Crear </button>
          
        </form>
      </section>
    </section>
  </main>
</div>
